<%- include('../includes/admin/header.ejs') %>

<%- include('../includes/admin/sidebar.ejs') %>
<div class="main-wrapper">

    <%- include('../includes/admin/navigation.ejs') %>

    <!-- ! Main -->
    <main class="main users chart-page" id="skip-target">
        <div class="container">
          <h2 class="main-title">Add User</h2>

          <div class="row">
            <div class="col-md-6 col-sm-4">
                <form method="post" action="/admin/users/add-user">
                    <div class="mb-3">
                        <label for="fullname" class="form-label">Fullname </label>
                        <input type="text" class="form-control" id="fullname" required name="fullname"  />
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" />
                    </div>

                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="text" name="phone" class="form-control" id="phone" />
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="password" />
                    </div>

                    <div class="mb-3">
                        <label for="cpassword" class="form-label">Confirm Password</label>
                        <input type="password" name="cpassword" class="form-control" id="cpassword" />
                    </div>

                    <div class="mb-3">
                        
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-danger">Reset</button>

                        <a type="button" class="btn btn-secondary" href="/admin/users">Cancel</a>
                    </div>

                </form>
            </div>
          </div>
        </div>
    </main>


<%- include('../includes/admin/footer.ejs') %>    