    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
        <a href="index.html" class="navbar-brand d-flex align-items-center border-end px-4 px-lg-5">
            <h2 class="m-0"><i class="fa fa-car text-primary me-2"></i>CarsInd</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="index.html" class="nav-item nav-link active">Home</a>
                <a href="about.html" class="nav-item nav-link">About</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">New Cars</a>
                    <div class="dropdown-menu bg-light m-0">
                        <a href="feature.html" class="dropdown-item">Explore</a>
                        <a href="appointment.html" class="dropdown-item">Electric</a>
                        <a href="team.html" class="dropdown-item">Upcoming</a>
                        <a href="testimonial.html" class="dropdown-item">Popular</a>
                    </div>
                </div>
                <a href="contact.html" class="nav-item nav-link">Contact</a>
                
            </div>
            <a href="" class="btn btn-secondary py-4 px-lg-4">Register<i class="fa fa-user-plus ms-3"></i></a>
            <a href="" class="btn btn-primary py-4 px-lg-4">Login<i class="fa fa-user ms-3"></i></a>
        </div>
    </nav>
    <!-- Navbar End -->