<%- include('./includes/header.ejs') %>

<%- include('./includes/navbar.ejs') %>

<%- include('./includes/carousel.ejs') %>


<!-- Facts Start -->
<div class="container-fluid facts py-5 pt-lg-0">
    <div class="container py-5 pt-lg-0">
        <div class="row gx-0">
            <div class="col-lg-12 wow fadeIn" data-wow-delay="0.1s">
                <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">
                    <form method="get" class="custom-form mb-lg-0 w-100" role="search">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fa fa-search"></i>
                            </span>

                            <input name="keyword" type="search" class="form-control" id="keyword" placeholder="Search cars" aria-label="Search cars">

                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </form>
                </div>
            </div>
            
            
        </div>
    </div>
</div>
<!-- Facts End -->

<%- include('./includes/footer.ejs') %>